.git
.gitignore
tasks/
__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.local
*.md
bitbucket-pipelines.yml
deploy_aws.py
.dockerignore
*.log
.vscode
*.ipynb
node_modules/
package-lock.json
.pytest_cache
htmlcov/
.coverage
